* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #385898;
    height: 82px;
}

header h1 {
    color: white;
    display: inline-block;
    width: 170px;
    height: 33px;
    margin-left:20%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 45px;
}
header .table_1 {
    display: inline;
    text-align: left;
    margin-top: 10px;
    margin-left:27%;
    position: absolute;
}
header #line_1{
    color: white;
}
header .row{
    color: white;
}
header  #line_2\.3 button {
    background-color: #4267b2;
    color: white;
    border-color: #29487d;
}

header  #line_3 {
    color: #9cb4d8;
    font-size: 12px;
}
main{
    background: #edf0f5;
}
main .article_1{
    width: 565px;
    display: inline-block;
    margin-left:20%;
    padding-bottom: 100px;
}
main .article_2{
    width: 399px;
    display: inline;
    margin-left:3%;
    position: absolute;
}
main #h2_1{
    color: #333;
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px;
}
main .list{
    list-style: none;
}
main .img{
    width: 56px;
    height: 56px;
    margin-top: 14px;
}
main ul li {
    margin-top: 14px;
    padding-bottom: 35px;
    color: #666;
    ont-size: 15px;
    line-height: 20px;
}
main ul li span{
    font-size: 17px;
    line-height: 22px;
    color: #333;
    font-weight:bold
}
main #h2_2{
    color: #333;
    font-size: 36px;
    padding-top: 20px;
    font-weight:bold
}
main .article_2 p{
    color: #333;
    font-size: 19px;
    padding-bottom: 15px;
}
main #table_2\.1,#table_2\.2,#table_2\.3,#table_2\.4{
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
}
main .article_2 #p_1{
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin-top: 13px;
    padding-bottom: 0;
}
main .article_2 #i_1{
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #ccd0d5;
}
main .article_2 #p_3{
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0;
}
main .article_2 #p_4{
    color: #777;
    font-size: 11px;
    width: 316px;
}
main .article_2 p #b_1{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size: 19px;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
main .article_2 #p_5{
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
footer{
    position: fixed;
    margin: 0 auto;
    width: 980px;
}
footer .table_3 {
    margin-left:35%;
    padding-top: 35px;
    color: #737373;
    font-size: 12px;
}
footer #t_2{
    padding-left: 10px;
}
footer #t_3{
    padding-left: 10px;
}
footer .p{
    border-bottom: 1px solid #dddfe2;
    margin-left:35%;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
footer .table_4{
    margin-left:35%;
    color: #385898;
    font-size: 12px;
}
footer #t_5{
    padding-left: 10px;
}
footer #t_6{
    padding-left: 10px;
}
footer #t_7{
    padding-left: 10px;
}
footer span{
    margin-left:35%;
    font-size: 11px;
    color: #737373;
    padding-top: 50px;
}